---
layout: default
---

<div class="txt-planeacion">
</div>

<div class="container-poligon">
    <div class="title animated fadeInLeft slow">
        <h1>Complejidad</h1>
        <h2>Edgar Morin</h2>
    </div>
    <div id="p5sketch"></div>
    <div class="txt animated fadeInRight slow">
        <p>El unico conocimiento que vale es aquel que se nutre de <strong>incertidumbre</strong>. El unico pensamiento que se mantiene en la temperaturade su propio destruccion.</p>
        <p>Yo diria que la aspiracion a la complejitud, porque sabemos que todo es <strong>solidario y multidimensional</strong>.</p>
    </div>
</div>

<div class="txt-titulo">
    <h1>Planeacion de Sistemas de Informacion y Gerencia Estrategica</h1>
</div>

<div class="box-content">
    <img alt="comillas" src="img/citar.png"/>
    <p><strong>La Quinta Disciplina</strong> define los elementos necesarios para que una organizacion evolucione y siga existiendo.</p>
    <cite>Peter Senge</cite>
</div>

<div class="box-content">
    <img alt="comillas" src="img/citar.png"/>
    <p id="content">Considering the <strong>inconceivable complexity of processes</strong> even in a simple cell, it is little short of a miracle that the simplest possible model - namely, <strong>a linear equation between two variables</strong> - actually applies in quite a general number of cases.</p>
    <cite>Ludwig Von Bertalanffy</cite>
</div>

<div class="box-content">
    <img alt="comillas" src="img/citar.png"/>
    <p id="content">Un <strong>CAS (sistema adaptativo y complejo)</strong> es una red dinámica de muchos agentes (los cuales pueden representar células, especies, individuos, empresas, naciones) actuando en paralelo, constantemente y reaccionando a lo que otros agentes están haciendo. El control de un CAS tiende a ser altamente disperso y descentralizado. Si hay un comportamiento coherente en el sistema, este tiene un crecimiento de competición y cooperación entre los agentes mismos. El resultado total del sistema proviene de un <strong>enorme número de decisiones hechas</strong> en algún momento por muchos agentes individuales.</p>
    <cite>John H. Holland</cite>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js'></script>
<script  src="js/script.js"></script>
