@font-face {
    font-family: 'Inknut-Antiqua';
    font-style: normal;
    font-weight: 800;
    src: local('Inknut Antiqua'),
         url(ttf/InknutAntiqua-Bold.ttf) format('truetype');
}

.txt-planeacion {
    padding-bottom: 150px;
}

.txt-titulo {
    background-color: #0d5496;
    color: #7BBCFF;
    padding: 4em;
    h1 {
        font-weight: 800;
        font-family: Roboto;
        font-size: 50px;
    }
}

.container-poligon {
    h2, strong {
        color: #061b3a;
    }
}

.box-content {
    text-align: inline;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 4em;
    padding-bottom: 4em;
    font-weight: 400;
    font-family: 'Georgia';
    font-size: 30px;
    color: #161819;

    img {
        width: 10%;
        border: 0;
    }

    cite {
        float: right;
    }
}

.box-content:nth-child(2n+1) {
    background-color: #839CC3;

    strong {
        color: #102F5E;
    }
}

.box-content:nth-child(2n) {
    background-color: #FFBABC;

    strong {
        color: #E72429;
    }
}
